{% extends "layout.html" %}

{% block title %}
    Help Page
{% endblock %}

{% block main %}
    <h1>Welcome to Help Page!</h1>
    <h2>Here you can understand how to use Units Convertor properly.</h2>
    <br>
    <h3 class="left">How to convert units?</h3>
    <h4 class="left">You can manually convert units by going to the units section(upper left corner, next to "Unit Convertor") and see the formulas.</h4>
    <h4 class="left">Or you can acces advanced functions to do this.</h4>
    <br>
    <h3 class="left">How to access advanced functions?</h3>
    <h4 class="left">First you should register (if you don't have an account).</h4>
    <h4 class="left">You can do that by clicking on the register (upper right corner).</h4>
    <h4 class="left">After that you need to complete the forms that appeared on your screen(if any problems the site will guide you with error messages).</h4>
    <h4 class="left">If you have an account just click log in(upper right corner).</h4>
    <h4 class="left">After that you need to complete the forms that appeared on your screen(if any problems the site will guide you with error messages).</h4>
    <h4 class="left">Then the new functions should appear on the left side of the screen next to the types of conversion.</h4>
    <h4 class="left">To log out you only need to click on log out(upper right corner).</h4>
    <br>
    <h3 class="left">How to select the type of conversion?.</h3>
    <h4 class="left">You can look up and you will see the nav menu which has four types of conversion:
         weight, distance, time, temperature. Then you simply click on which one you want.</h4>
    <br>
    <h3 class="left">How to convert units?</h3>
    <h4 class="left">After you selected what type of conversion do you want, a page will appear with the type
        of conversion you selected from the nav menu.</h4>
    <h4 class="left">Then you should click on the box next to the 'From: ' label, and insert there the quantity you would like to convert.</h4>
    <h4 class="left">Next you will click on the box next to the one you just completed and select the input unit type.</h4>
    <h4 class="left">Now you will want to click on the box bellow those two and select the output unit type.</h4>
    <br>
    <h3 class="left">Please if you want submit your idea for improving this site or if you found any bugs feel free to report them in the improve section(if you have an account).</h3>
{% endblock %}
