{% extends "layout.html" %}

{% block title %}
    Units
{% endblock %}

{% block main %}
    <h1>Hey, here you have units for different types of measurement</h1>
    <br>
    <h2 class="left">Weight:</h2>
    <h3 class="left">1000000 milligram = 100000 centigram = 10000 decigram = 1000 gram = 100 decagram = 10 hectogram = 2.205 pounds(lbs) = 1 kilogram</h3>
    <h3 class="left">1 kilogram = 0.01 quintal = 0.001 ton = 1e-06 gigagram</h3>
    <br>
    <h2 class="left">Distance:</h2>
    <h3 class="left">1000000 micrometer = 1000 millimeter = 100 centimeter = 39.37 inch = 10 decimeter = 3.28 feet = 1.09 yards = 1 meter</h3>
    <h3 class="left">1 meter = 0.1 decameter = 0.01 hectometer = 0.001 kilometer = 0.00062 mile</h3>
    <br>
    <h2 class="left">Time:</h2>
    <h3 class="left">86400000 milliseconds = 864000 seconds = 1440 minutes = 24 hours = 1 day</h3>
    <h3 class="left">1 day = 0.14 week = 0.03 months = 0.0027 years = 0.00027 decades = 0.000027 centuries</h3>
    <br>
    <h2 class="left">Temperature:</h2>
    <h3 class="left">Celsius to Fahrenheit: Celsius = Fahrenheit * (9 / 5) + 32</h3>
    <h3 class="left">Celsius to Kelvin: Celsius = Kelvin + 273.15</h3>
    <h3 class="left">Celsius to Rankine: Celsius = Rankine * (9 / 5) + 491.67</h3>
    <h3 class="left">Fahrenheit to Celsius: Fahrenheit = (Celsius - 32) * (5 / 9)</h3>
    <h3 class="left">Fahrenheit to Kelvin: Fahrenheit = (Kelvin - 32) * (5 / 9) + 273.15</h3>
    <h3 class="left">Fahrenheit to Rankine: Fahrenheit = Rankine + 459.67</h3>
    <h3 class="left">Kelvin to Celsius: Kelvin = Celsius - 273.15</h3>
    <h3 class="left">Kelvin to Fahrenheit: Kelvin = (Fahrenheit - 273.15) * (9 / 5) + 32</h3>
    <h3 class="left">Kelvin to Rankine: Kelvin = Rankine * 1.8</h3>
    <h3 class="left">Rankine to Celsius: Rankine = (Celsius - 491.67) * (5 / 9)</h3>
    <h3 class="left">Rankine to Fahrenheit: Rankine = Fahrenheit - 459.67</h3>
    <h3 class="left">Rankine to Kelvin: Rankine = Kelvin * (5 / 9)</h3>
{% endblock %}
